<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top 100 Spotify</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Spotify's Top 100 2018</h1>
            <p>Check out what it takes to become a top 100 song on Spotify!</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>GRAPH 1</h2>
                <div id="plot1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>GRAPH 2</h2>
                <div id="plot2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>GRAPH 3</h2>
                <div id="plot3"></div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>
