<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top 100 Spotify</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/chart.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Spotify's Top 100 2018</h1>
            <p>Check out what it takes to become a top 100 song on Spotify!</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>GRAPH 1</h2>
                <label>Select a Metric By Clicking The Dropdown Menu</label>
                <select class="form-control" id="drop1">
                    <option selected>Select Metric</option>
                    <option value = "danceability">Danceability</option>
                    <option value = "energy">Energy</option>
                    <option value = "key">Key</option>
                    <option value = "loudness">Loudness</option>
                    <option value = "mode">Mode</option>
                    <option value = "speechiness">Speechiness</option>
                    <option value = "acousticness">Acousticness</option>
                    <option value = "instrumentalness">Instrumentalness</option>
                    <option value = "liveness">Liveness</option>
                    <option value = "valence">Valence</option>
                    <option value = "tempo">Tempo</option>
                    <option value = "duration_ms">Duration (ms)</option>
                    <option value = "time_signature">Time Signature</option>
                </select>
                <div id="plot1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>GRAPH 2</h2>
                <div id="plot2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>GRAPH 3</h2>
                <div id="plot3"></div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="/static/js/app.js"></script> -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


</body>

</html>